<template>
    <require from="swiper/css/swiper.css"></require>
    <require from="components/styles.css"></require>

    <div class="container">
        <div class="row no-gutter">
            <div id="image-slider" class="col-12 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/src/images/1.jpg" alt="First slide 1"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/2.jpg" alt="First slide 2"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/3.jpg" alt="First slide 3"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/4.jpg" alt="First slide 4"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/5.jpg" alt="First slide 5"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/6.jpg" alt="First slide 6"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/7.jpg" alt="First slide 7"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/8.jpg" alt="First slide 8"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="/src/images/9.jpg" alt="First slide 9"/>
                    </div>
                </div>
<!--                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="button-prev" click.trigger="slidePrev()"></div>
                <div class="button-next" click.trigger="slideNext()"></div>
            </div>
        </div>
    </div>

</template>
