
/****
 * Formatting of the html form
 */

input {
    width: 100%;
    height: 40px;
    background-color: #4285F4;
    color: #FFF;
    border-style: none;
    outline: none;
    margin-top: 20px;
    padding: 0 12px;
}

input:first {
    margin-top: 30px;
}

::placeholder {
    color: #CCC;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #CCC;
}

::-ms-input-placeholder {
    color: #CCC;
}

button {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);;
    color: black;
    border-style: none;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}
